.tales {
  margin: 50px 50px 20px 50px;
}

.tales h2 {
  font-size: 30px;
}

.reader {
  text-align: center;
  font-size: 15px;
}

.youtube {
  width: 640px;
  height: 390px;
  margin: 30px auto 5px auto;
}

.text {
  margin-top: 40px;
  font-size: 20px;
}

.buttonstale {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

.divpara {
  margin: 50px auto 80px auto;
}