.buttontales {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  background-color: #4EA0AE;
  color: #FFF48F;
  padding: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
	font-family: 'Quicksand', sans-serif;
}

.buttontales::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	width: 0;
	height: 0;
}

.buttontales:hover {
  transform: scale(1.04);
	background-color: #FFF48F;
  color: #3B2E5A;
}

.buttontales:active {
  transform: scale(1);
}