.circle-container {
  width: 100%;
  height: calc(100vh - 115px);
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.circle {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-top-color: #FFF;
  animation: spin 1s infinite linear;
}

.heightauto {
  height: auto;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  }
}