.buttonread {
  font-family: 'Quicksand', sans-serif;
  flex-grow: 0;
  min-width: 70px;
  border-radius: 8px;
  border: none;
  background-color: #4EA0AE;
  color: #FFF48F;
  padding: 7px;
  cursor: pointer;
  align-self: flex-end;
  margin: 5px 10px 10px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}


.buttonread:hover {
	background-color: #FFF48F;
  color: #3B2E5A;
}


.arrow {
  width: 10px;
  filter: invert(95%) sepia(9%) saturate(3630%) hue-rotate(311deg) brightness(131%) contrast(101%);
  margin-left: 5px;
}

.arrow:hover {
  filter: invert(15%) sepia(59%) saturate(609%) hue-rotate(217deg) brightness(99%) contrast(90%);
}

@media screen and (max-width: 500px) {
  .buttonread {
    align-self: center;
    min-width: 80%;
    justify-content: center;
  }
}