.footer {
  display: flex;
  justify-content: center;
  min-width: 890px;
  min-height: 30px;
  background-color: #4EA0AE;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  color: #3B2E5A;
}

.footer p {
  margin: 0 auto;
}

.fixedbottom {
  position: fixed;
  bottom: 5px;
}

@media screen and (max-width: 760px) {
    .footer {
      min-width: 100%;
    }
}

@media screen and (max-width: 500px) {
  .footer {
    margin-top: 50px;
    min-width: 100%;
    max-height: 50px;
    text-align: center;
  }
}